@import url('./colorAndText.css');

:root{
    --box-padding: 50px; 
    --box-border-radius: 10px; 
}

.page-container{
    padding-top: var(--header-height);
    max-width: 1200px; 
    margin: auto;
    padding: 20px; 
    text-align: center; 
    flex-grow: 1; 
    overflow: auto; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.Admin-page-content {
    flex-grow: 1; /* Lar innholdet ta opp resten av plassen */
    overflow: hidden; /* Hindrer innholdet i å gå utenfor sin kontainer */
    padding: 20px;
}

/* Applies to all major sections for consistent spacing and alignment */
.section-container 
{
    margin: 0 auto;
    max-width: 800px; 
    margin-bottom: 50px; 
    padding: 20px; 
    text-align: left; 
    font-family: var( --body-font); 
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; 

}


.content-container {
  padding-top: var(--header-height); /* Use the variable */
  overflow-y: auto; /* Ensure content is scrollable */
}


/*============= BOX CONTAINERS ===================*/
/* Used for login, sinup and more */

/* container for light and dark box */
.box-container {
    display: flex;                                  /* Use flexbox for layout */
    flex-wrap: wrap;                                /* Wrap children to the next line if they don't fit */
    justify-content: center;                        /* Center children horizontally */
    align-items: center;                            /* Center children vertically */
    height: 100vh;                                  /* Full viewport height */
    max-width: 70%;                                 /* Limit max width to 70% of the viewport */
    margin: 0 auto;                                 /* Center the container in the viewport */
}


/* information about each background box */
.box {
    padding: var(--box-padding);                
    display: flex;                   /* Use flexbox for layout */
    flex-direction: column;          /* Stack child elements vertically */
    justify-content: center;         /* Center children vertically */
    align-items: center;             /* Center children horizontally */
    transition: transform 0.5s;      /* Animate position changes smoothly */
    border-radius: var(--box-border-radius);
}

/* Light purple color */
.box.light {
    width: 60%; /* Take up half of the container's width */
    background-color: var(--box-color-light); /* Light purple background */
    height: 50%;
}

/* Dark purple color */
.box.dark {
    width: 40%; /* Take up half of the container's width */
    background-color: var(--box-color-dark); /* Darker purple background */
    height: 50%;
    
}

/* Message box for displaing messages on the admin page*/
.box.message {
    width: 100%; /* Take up the full width of the container */
    background-color: var(--box-color-dark); /* Light purple background */
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

/*============= DROPDOWN ===================*/
  /* Custom styles for the select dropdown */
.select-dropdown {
    width: auto; 
    padding: 0.375rem 0.75rem;
    border: 1px solid var(--border-color);
    border-radius: 4px; 
    background-color: var(--button-bg-colo-light); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add a subtle shadow */
    cursor: pointer; /* Change cursor to pointer */
}

.select-dropdown:hover {
    background-color: #e9ecef; /* Change background color on hover */
}

/* Style the options */
.select-dropdown option {
    padding: 8px 12px; /* Add some padding */
}


/*============= ADMIN PAGE ===================*/

.messages-list-container {
    max-height: 500px; 
    overflow-y: auto; 
    padding: 10px;
    margin-bottom: 20px;
}


