
/* ========= BUTTONS  ========== */
/* Button specifications */
button {
    padding: 10px 15px; /* Padding inside buttons */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ========= DARK BUTTONS  ========== */
/* .dark-button {
    background-color: var(--button-bg-colo-dark);   
    color: var(--button-text-color-light);         
}

.dark-button.active {
    background-color: var(--button-hover-dark);   
    color: var(--button-text-color-light);         
}

.dark-button:hover {
    background-color: var(--button-hover-dark); 
    opacity: 0.8;
} */

/* ========= LIGHT BUTTONS  ========== */
/* .light-button {
    background-color: var(--button-bg-colo-light); 
    color:  var(--button-text-color-dark); 
}
.light-button.active {
    background-color: var(--button-hover-light); 
    color:  var(--button-text-color-dark); 
}
.light-button:hover {
    background-color: var(--button-hover-light); 
    opacity: 0.8; 
} */


/* ========= CLOSE BUTTONS (X)  ========== */
.close-button {
    float: center;
    border: none;
    background: none;
    font-size: var(--normal-font-size)
}

/* ========= SWITCHING BUTTONS  ========== */
.switch-container {
    display: inline-block;
    border-radius: 5px; /* Runde hjørner */
    overflow: hidden; /* Forhindre innhold fra å bryte ut */
    width: auto; /* Full bredde */
}

.switch-option {
    display: inline-block;
    padding: 5px 10px; /* Litt plass rundt tekst */
    cursor: pointer; /* Endre musepeker til peker */
}

.switch-option.active {
    background-color: var(--button-hover-dark);; /* Oransje for aktivt valg */
    color:   var(--button-text-color-light); /* Hvit tekst for bedre lesbarhet */
}

.switch-option.inactive {
    background-color:  var(--button-bg-colo-light); /* Hvit for inaktivt valg */
    color:   var(--button-text-color-dark); /* Sort tekst */
}
