/* ======= INPUT FIELDS AND TEXTAREA FOR THE FORMS ======== */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="date"],
textarea {
    width: 90%;                                        
    padding: 10px 15px;                                
    margin-bottom: 10px;                               
    border: 1px solid var(--border-color);              
    border-radius: 5px;                                 
    background-color: var(--border-background-color);   
    box-shadow: var(--box-shadow);                      
    box-sizing: border-box;     
    overflow: 'auto';   
    font-family: var(--body-font); 
    font-size: var(--normal-font-size);
}

textarea {
    height: auto;
    resize: vertical;                                   
    overflow-y: 'auto';   
    max-height: 200px;
}


