@import url('./colorAndText.css');


.sidebar {
    width: 50px; /* Bredden når sidebar er kollapset */
    background-color: var(--box-color-dark); /* Hele sidebaren er rosa */
    transition: width 0.3s; /* Glatte overganger for bredden */
    overflow: hidden; /* Skjuler teksten når sidebar er kollapset */
    border-radius: 0 25px 25px 0; /* Avrundede hjørner på sidebaren */
    display: top;
    flex-direction: column;
    justify-content: center; /* Sentrerer ikonene vertikalt */
    height: 50vh; /* Fyller hele høyden av viewport */
}

.sidebar.expanded {
    width: 190px; /* Full bredde når sidebar er utvidet */
}

.sidebar-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Sentrerer ikonene horisontalt */
    height: 60px; /* Gir en fast høyde for sidebar items */
}



.sidebar-item span {
    display: none; /* Skjuler teksten som standard */
}

.sidebar.expanded .sidebar-item span {
    display: block; /* Viser teksten når sidebar er utvidet */
    margin-left: 15px; /* Gir litt plass mellom ikon og tekst */
}

.sidebar.expanded .sidebar-item {
    justify-content: start; /* Juster innhold til venstre når sidebar er utvidet */
}
