/* ======= INPUT FIELDS FOR THE FORMS ======== */
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="date"] {
    width: 90%;                                         /* Responsive width relative to parent */
    padding: 10px 15px;                                 /* Padding inside input fields */
    margin-bottom: 10px;                                /* Space below input fields */
    border: 1px solid var(--border-color);              /* Light grey border */
    border: var(--border-color);;                       /* For prettier input boxes */
    border-radius: 5px;                                 /* Rounded corners */
    background-color: var(--border-background-color);   /* Light background for the input fields */
    box-shadow: var(--box-shadow);                      /* Inner shadow for depth */
}



