@import url('../../Components/navbar.css');
@import url('../../App.css');

.profile-page-container {
    display: flex;                                  /* Use flexbox for layout */
    flex-wrap: wrap;                                /* Wrap children to the next line if they don't fit */
    justify-content: center;                        /* Center children horizontally */
    align-items: center;                            /* Center children vertically */
    height: 100vh;                                  /* Full viewport height */
    max-width: 70%;                                 /* Limit max width to 70% of the viewport */
    margin: 0 auto;                                 /* Center the container in the viewport */
}


/* information about each background box */
.profile-page {
    padding: var(--box-padding);                
    display: flex;                   /* Use flexbox for layout */
    flex-direction: column;          /* Stack child elements vertically */
    justify-content: center;         /* Center children vertically */
    align-items: center;             /* Center children horizontally */
    transition: transform 0.5s;      /* Animate position changes smoothly */
    border-radius: var(--box-border-radius);
}

/* Light purple color */
.profile-page.light {
    width: 60%; /* Take up half of the container's width */
    background-color: var(--box-color-light); /* Light purple background */
    height: 50%;
}

.profile-info {
    font-size: 1em; /* Adjust the size as needed */
    margin: 5px 0; /* This gives a little space above and below each line */
}
.profile-options {
    font-size: 1em; /* Adjust the size as needed */
}


/* Dark purple color */
.profile-page.dark {
    width: 40%; /* Take up half of the container's width */
    background-color: var(--box-color-dark); /* Darker purple background */
    height: 50%;
    display: flex; /* This is already specified, included for clarity */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Spread out children vertically */
    align-items: center; /* Center children horizontally */
    
}

.box.dark p:first-child {
    margin-top: 20px; /* Adjust this value to control the space above *name* */
}

.profile-image-container img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* This makes the image round */
    object-fit: cover; /* This ensures the image covers the area without stretching */
    margin-bottom: 10px; /* Space between the image and the name */
}