.page-container {
    display: flex;
    align-items: center; /* Aligns vertically center */
    justify-content: center; /* Aligns horizontally center */
    height: 100vh; /* Full viewport height */
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
  
  .add-counter-box {
    cursor: pointer;
    border: 2px dashed #ccc;
    background-color: var(--box-color-light);
    border-radius: 16px;
    text-align: center;
    padding: 50px;
    width: 130px; /* Adjust width as needed */
    margin: auto; /* Centers the box in the flex container */
  }
  
  .add-counter-box span {
    display: block;
    font-size: 1rem; /* Adjust font size if necessary */
    color: #333;
  }
  
  .plus-sign {
    font-size: 6rem; /* Adjust plus sign size if necessary */
    line-height: 1.5rem;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .modal-content button {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #e7e7e7;
  }
  
  .plus-sign {
    display: block;
    font-size: 24px;
    margin-top: 10px;
  }
  
  .counter-container {
    border: 2px solid #ccc;
    border-radius: 16px;
    text-align: center;
    padding: 50px;
    margin: 10px;
    width: 130px;
    max-width: 600px;
    display: flex; 
    justify-content: center;
    
  }

  .counter-name {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .counter-value {
    font-size: 2rem;
    margin: 10px 0;
    color: #666;
  }
  
  .counter-controls {
    display: flex;
    justify-content: space-around;
  }
  
  .counter-controls button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #e7e7e7;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .counter-controls button:hover {
    background-color: #d7d7d7;
  }