/* Home.css */

.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensures the container fills the width of the viewport */
}

.home-container {
    display: flex; /* Ensures flexbox layout */
    flex-direction: row; /* Aligns children in a row */
    width: 100%; /* Ensures the container fills the width */
    max-width: 1200px; /* Maximum width */
    margin: 20px auto; /* Centers the container with vertical margin */
    overflow: hidden; /* Prevents overflow */
}

.statistics-container {
    display: flex;
    flex: 2; /* Takes 2/5 of the space */
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.creative-content-container {
    display: flex;
    flex: 3; /* Takes 3/5 of the space */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
