.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* App.css or a global CSS file */
.app-container {
  padding-top: var(--header-height); /* Use the variable */
  display: flex;
  flex-direction: column;
  height: 110vh; /* Take full height of the viewport */
  overflow: hidden; /* Hide any overflow content */
}

.content-container {
  padding-top: var(--header-height); /* Use the variable */
  overflow-y: auto; /* Ensure content is scrollable */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.pages {
  color: #f3f5f6;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
