/* Importing global styles */
@import url('../../Components/navbar.css');
@import url('../../App.css');
@import url('../../Components/colorAndText.css');


/* Make the img and info stay beside eachother and have the same height*/
.section-container .team-member, 
.section-container .feature-item  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;                      /* Space between image and text */
    margin-bottom: 20px;            /* Space between team member entries */
}


/* Image Styles for this page specifically */
.team-member-image, .feature-image {
    width: 150px;           /* Standardizes image size */
    border-radius: 50%;     /* Rounds the corners for a circular shape */
}


