.kontaktOss-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.kontakt-form form {
    display: flex;
    flex-direction: column;
}

.kontakt-form label {
    margin-top: 10px;
}

.kontakt-form input,
.kontakt-form textarea {
    margin-top: 5px;
}

.kontakt-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.kontakt-info p {
    margin: 5px 0;
}

.faq h2 {
    margin-top: 20px;
}
