@import url('../../navbar.css');

.title {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

/* ------------- CONTACT INFO  ------------- */
/* Overall form layout */
.contact-form-box {
    flex: 0 0 50%; /* Deler halvparten av bredden av flex container */
    height: 100%; /* Sett høyden til 100% av foreldrecontaineren */
    padding: 50px;
    margin: 20px 0;
    background-color: var(--main-light); /* Lett bakgrunnsfarge */
}


.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: var( --body-font); 
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Tillat vikling til neste linje hvis nødvendig */
}

/* Style for contact details */
.contact-details {
    flex: 0 0 50%; /* Deler halvparten av bredden av flex container */
    margin-bottom: 2em;
    text-align: left;
    color: var(--primary-color);
    height: 100%; /* Sett høyden til 100% av foreldrecontaineren */

}

/* Style for the contact details */
.contact-details p {
    margin: 10px 0; /* add more space around */
}

/* For the links in the contact details */
.contact-details a{
    margin-bottom: 2em;
    text-align: left;
    color: var(--link-color);
}

.contact-details a:hover {
    color: var(--shadow-color);
    border-bottom: 1px solid;
}

.contact-image {
    max-width: 70%; 
    height: auto;
    display: block; /* Sett bildet som et blokkelement */
    padding: 0; /* Fjern padding */
    margin-right: 10px; /* Juster høyremargen etter behov */
    float: left;
}




/* ------------- FAQ section ------------- */
.faq-section {
    padding-top: 2rem;
}

.faq-question {
    background: none;
    color: var(--primary-color);
    text-align: left;
    padding: 0;
    margin-bottom: 1rem;
}
.faq-question:hover{
    color: var(--shadow-color);
}

.faq-answer {
    margin-left: 20px;
    padding-bottom: 1rem;
}





