@import url('../../navbar.css');
@import url('../../App.css');

/* ------------- CONTACT INFO  ------------- */


/* Message box */
.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: var( --body-font); 
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap; 
}



/* Image under contact details */
.contact-image {
    max-width: 75%; 
    height: auto;
    display: block; 
    padding: 0; 
    float: left;
    margin-bottom: -70px;       /* Remove the space that is in the image*/ 
}



/* ------------- FAQ section ------------- */
.faq-section {
    padding-top: 2rem;
}

/* The questions that are displayes */
.faq-question {
    background: none;
    color: var(--primary-color);
    text-align: left;
    padding: 0;
    margin-bottom: 1rem;
}
.faq-question:hover{
    color: var(--shadow-color);
}

/* The answers to the questions */
.faq-answer {
    margin-left: 20px;
    padding-bottom: 1rem;
}





